<footer class="site-footer">
    <div style="display: block;
    position: fixed;
    bottom: 0px;
    width: 100%;background-color: #222;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
    background-repeat: repeat;">
    <div style="width:80%;margin: 0 auto;text-align: center;color:#ffffff;">© 2013-2017 LANMPS 环境套件. ALL RIGHTS RESERVED. <a href="http://www.beian.miit.gov.cn/"  target="_blank">浙ICP备19037334号-3</a></div>
    </div>
</footer>
